* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightgray;
}

body {
    background-color:  #081016;
    background-repeat: no-repeat;
    height: 100%;
}
.center {
    text-align: center;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.flex-top {
    justify-self: flex-start;
}

.align-center {
    align-self: center;
}

.justify-center {
    justify-self: center;
}

.border {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 10px 20px;
}

.secondary-bg {
    background-color: #0e1d25;
}

.rounded {
    border-radius: 50px;
}
.flex-column {
    flex-direction: column;
}

.play-box{
    width: 500px;
    height : 400px;
}

#play-area{
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

#player-activity {
    margin: auto;
    height: 300px;
}

#CPU-activity {
    margin: auto;
    height: 300px;
}

#player-activity h2{
    margin-top: 0;
    margin-bottom: 5px;
}

.player-choice {
    font-size: 50px;
}

#name {
    justify-self:flex-start;
    margin-bottom: 0;
    font-size:50px;
    text-decoration: underline;
}

#player {
    justify-content: center;
}

#player-move {
    
}
#CPU-move {
    align-self: center;
    justify-self: center;
}

#score-area {
    width: 800px;
    margin: auto;
    justify-content: space-between;
    font-size: 80px;
}

.score div{
    margin: 20px 0px;
    padding: 0px 30px;
    background-color: darkgray;
    color: #081016;
    border-radius: 10px;
}

#player-score {

}

.win-glow {

}

.lose-glow {

}

#choice-buttons button{
    color :#081016;
    width: 120px;
    height: 50px;
    margin: 10px;
}